= link_to '削除', admins_survey_path(survey), method: :delete,
          data: { confirm: "本当に<strong>「#{@survey.title}」</strong>を削除してよろしいですか？",
          verify: "#{@survey.title}",
          verify_text: "削除する場合はアンケートの題名を入力してください",
          cancel: "やめる",
          commit: "削除する"}, title: "削除の確認", class: "btn btn-danger"