h3 未回答アンケート
= render partial: 'partial/unanswered_surveys', locals: {unanswered_surveys: @unanswered_surveys}
h3 下書き
= render partial: 'partial/user_draft_surveys', locals: {draft_surveys: @draft_surveys}
h3 回答済みアンケート
= render partial: 'partial/answered_surveys', locals: {answered_surveys: @answered_surveys}