.auth-link-list {
  float: right;
  font-size: 80%;
  margin-right: 3px;
  position: relative;
  top: -10px;
}

.mainbox {
  margin-top: 50px;
}

.alert-danger {
  // display: none;
}

.login-btn {
  margin-top: 10px;
}

.field-with-icon {
  margin-bottom: 25px;
}

.auth-form-wrapper {
  padding-top: 30px;
}
