.devise_link-list {
  margin-right: 3px;
}

.form_wrapper {
  background-color: #fff;
  margin: 60px auto;
  padding: 20px 40px 30px;
  border-radius: 1em;
}

.form_wrapper_for_chief {
  background-color: #D9EDF7;
  border-radius: 1em;
}