.survey-show-buttons {
  @include clearfix;
  .btn {
    float: right;
    margin-right: 10px;
  }
}

.unlist-company-btn,
.publish-company-btn {
  margin-left: 10px;
}

.panel-button {
  @include clearfix;
  float: right;

  .btn {
    margin-right: 5px;
  }

}

.answer-survey-buttons {
  @include clearfix;

  .btn {
    float: right;
    margin-right: 10px;
  }

}